.footer{
    background-color: #0f0f0f;
    color: white;
    padding-block: 3em;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 1em;
    .footsection{
        p{
            opacity: .9;
            margin-bottom: .5em;

        }
        p.title{
            font-style: 1.1em;
            opacity: 1;
            font-weight: bold;
            margin-bottom: 1em;
        }
    }
}